:root{
    --cl-black: #263238;
    --cl-ash: rgb(118, 118, 118);
    --cl-white: #f4f4f4;
    --cl-orange: #ff8b25;
    --cl-orange-light: #f0ecfa;
    --cl-blue: #00b8d4;
    --cl-blue-light: #cee8ec;
    --cl-yellow: #ffc857;
    --cl-yellow-light: #ffebc7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    position:relative;
    background-color: var(--cl-white);
}

.navbar{
    width: 100%;
    height: 120px;
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.logo{
    width: auto;
    height: 50px;
}

.nav-btn{
    width: 100px;
    height: 50px;
    background-color: var(--cl-orange);
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--cl-white);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.nav-btn:hover{
    background-color: var(--cl-yellow);
    color: var(--cl-black);
}

.banner{
    height: 100vh;
    background-image: url('./assets/lambo_banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.8); 
    background-blend-mode: multiply;
    color: var(--cl-light-purple);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner h1{
    font-family: 'Raleway', sans-serif;
    color: var(--cl-white);
    font-size: 64px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
}

.banner-btn{
    width: 200px;
    height: 50px;
    background-color: var(--cl-yellow);
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--cl-black);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 50px;
}
.banner-btn:hover{
    background-color: var(--cl-orange);
    color: var(--cl-white);
    border: 1px solid var(--cl-orange);
}

.action{
    width: 100%;
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.action-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.action-text h3{
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 20px;
}

.action-text p{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: var(--cl-ash) ;
    text-align: left;
}

.action-text button{
    width: 200px;
    height: 50px;
    background-color: var(--cl-yellow);
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--cl-black);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 50px;
    align-items: left;
}

.action-text button:hover{
    background-color: var(--cl-orange);
    color: var(--cl-white);
    border: 1px solid var(--cl-orange);
}

.action-img{
    width: 50%;
    height: auto;
}

.productive-card{
    width: 80%;
    margin: 80px auto;
    padding: 60px 40px;
    border-radius: 20px;
    background-color:var(--cl-yellow-light);
}

.productive-card h3{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 60px;
}

.productive-card-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
    width: 100%;
}

.productive-card-user, 
.productive-card-sold, 
.productive-card-rate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productive-card-section h1{
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    font-weight: 700;
    color: var(--cl-blue);
    line-height: 1;
    text-align: center;
    margin-bottom: 5px;
}

.productive-card-section p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: darkgray;
    line-height: 1.5;
    text-align: center;
    margin-top: 0;
}

.feedback{
    width: 80%;
    margin: 80px auto;
    padding: 60px 40px;
    border-radius: 20px;
}

.feedback h3{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 50px;
}

.feedback-card-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    width: 100%;
}

.feedback-card{
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--cl-orange-light);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.feedback-card .rating{
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
}

.feedback-card .rating img{
    width: 20px;
    height: 20px;
}

.feedback-card-section h2{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
    
    color: blueviolet;
}

.feedback-card-section p{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    
}

.feedback-card .user{
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
    gap: 10px;
    margin-top: 20px;
}

.feedback-card .user img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.feedback-card .user h4{
    font-family: 'Raleway', sans-serif;
    text-align: left;
}

.feedback-card .user p{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: var(--cl-ash);
    text-align: left;
}

.info{
    width: 80%;
    margin: 80px auto;
    padding: 70px 150px;
    border-radius: 20px;
    background-color:var(--cl-blue-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info h1{
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 20px;
}

.info p{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--cl-ash);
    text-align: center;
}

.info button{
    width: 200px;
    height: 50px;
    background-color: var(--cl-yellow);
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--cl-black);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}
.info button:hover{
    background-color: var(--cl-orange);
    color: var(--cl-white);
    border: 1px solid var(--cl-orange);
}

.info img{
    width: 100%;
    margin-top: 24px;
}

.get-in-touch{
    width: 80%;
    margin: 70px auto;
    padding: 70px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.get-in-touch h1{
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    font-weight: 700;
    text-align: left;
    width: 45%;
    margin: 130px 0;
    padding-bottom: 20px;
}

.get-in-touch .form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.get-in-touch .form label{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}

.get-in-touch .form input{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0 20px;
}

.get-in-touch .form .field{
    width: 100%;
    margin-bottom: 20px;
}

.get-in-touch .form .get-in-touch-btn{
    width: 100%;
    height: 50px;
    background-color: var(--cl-yellow);
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--cl-black);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.get-in-touch .form .get-in-touch-btn:hover{
    background-color: var(--cl-orange);
    color: var(--cl-white);
    border: 1px solid var(--cl-orange);
}

.footer{
    background-color: var(--cl-black);
    width: 100%;
    padding: 70px 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer img{
    height: 120px;
    width: auto;
    margin-bottom: 24px;
}

.footer p{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--cl-white);
    text-align: center;
}

.footer .link{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px; 
    margin-top: 20px;
}

.footer .link a{
    color: var(--cl-yellow);
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}


