:root{
    --cl-black: #263238;
    --cl-white: #f4f4f4;
    --cl-orange: #ff6a00;
    --cl-blue: #00b8d4;
    --cl-yellow: #ffc857;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    position:relative;
    background-color: var(--cl-white);
}

.navbar{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.logo{
    width: auto;
    height: 100px;
    margin-left:100px;
}

.nav-btn{
    width: 100px;
    height: 50px;
    margin-right: 100px;
    background-color: var(--cl-orange);
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--cl-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nav-btn:hover{
    background-color: var(--cl-yellow);
    color: var(--cl-black);
}

.banner{
    height: 100vh;
    background-image: url('./assets/lambo_banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.8); 
    background-blend-mode: multiply;
    color: var(--cl-light-purple);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner h1{
    font-family: 'Raleway', sans-serif;
    color: var(--cl-white);
    font-size: 64px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
}

.banner-btn{
    width: 200px;
    height: 50px;
    background-color: var(--cl-yellow);
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--cl-black);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
}
.banner-btn:hover{
    background-color: var(--cl-orange);
    color: var(--cl-white);
    border: 1px solid var(--cl-orange);
}